.field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  + .field {
    margin-top: 30px;
  }
}

.field__icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  line-height: 24px;
  pointer-events: none;

  .field--dropdown & {
    cursor: pointer;
  }
}

.field__label {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: rgba(#000, .54);
}

.field__input {
  width: 100%;
  padding: 6px 0 4px;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(#000, .12);
  font-family: inherit;
  color: inherit;
  font-size: 16px;

  .theme--dark & {
    color: rgba(#fff, .5);
    border-color: rgba(#fff, .12);

    &:hover {
      color: rgba(#fff, .7);
    }
  }

  .field--dropdown & {
    -webkit-appearance: none;
    cursor: pointer;
  }

  option {
    color: #000;
  }

  &::-webkit-input-placeholder {
    color: rgba(#000, .38);
  }
}

.field__label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #7C4DFF;
  transform: scale(0);
  transition: transform .2s;

  .field__input:focus + & {
    transform: scale(1);
  }
}

.form-actions {
  width: 100%;
  max-width: 200px;
  margin-top: 40px;
}

.button {
  padding: 7px 10px 6px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #7C4DFF;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #651FFF;
  }

  &:active {
    background-color: #6200EA;
  }
}
