.notification-container {
  position: fixed;
  top: 58px;
  right: 10px;
  z-index: 8;
}

.notification {
  align-items: center;
  width: 350px;
  padding: 16px;
  margin-bottom: 10px;
  line-height: 22px;
  border-radius: 2px;
  background-color: pink(400);
  color: #fff;
  fill: #fff;
  @include card-shadow(2);
  cursor: pointer;

  &:hover {
    background-color: pink(500);
  }

  &:active {
    background-color: pink(600);
  }
}

.notification__icon {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.notification__song {
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
