.player {
  position: relative;
  padding: 10px 20px 10px 10px;
  align-items: center;
  border-top: 1px solid #ddd;
  background-color: #fafafa;
  transition: margin .32s;

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, .5);
    opacity: 0;
    transition: opacity .32s;
    pointer-events: none;
  }
}

.player--loading::after {
  pointer-events: auto;
  cursor: default;
  opacity: 1;
}

.player--empty {
  margin-bottom: -68px;
}

.player__button {
  padding: 0;
  margin-right: 20px;
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.player__button-icon {
  width: 48px;
  height: 48px;
  fill: pink(300);
  color: #fff;
  cursor: pointer;

  &:hover {
    fill: pink(500);
  }

  &:active {
    fill: pink(700);
  }
}

.player__time {
  min-width: 40px;
  text-align: center;
}

.player__progress {
  height: 48px;
  line-height: 48px;
}

.progress {
  position: relative;
  margin: 0 20px;
  cursor: pointer;
}

.progress__bar {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 10px;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-appearance: none;

  &::-webkit-progress-bar {
    background-color: #eee;
    box-shadow: 0 0 3px rgba(0,0,0,.3) inset;
  }

  &::-webkit-progress-value {
    background-color: pink(300);
  }

  .progress:hover &::-webkit-progress-value {
    background-color: pink(500);
  }
}

.progress__marker {
  position: absolute;
  z-index: 1;
  top: 0;
  margin-left: -1px;
  padding: 2px 5px 1px;
  background-color: pink(300);
  border-radius: 0 2px 2px 0;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  font-weight: bold;

  &:hover {
    background-color: pink(500);
  }

  &::before {
    content: '';
    position: absolute;;
    left: 0;
    top: 0;
    bottom: -10px;
    width: 1px;
    background-color: inherit;
  }
}

.progress__marker--enter {
  transform: scale(0);
  transform-origin: bottom left;
}

.progress__marker--enter-active {
  transform: scale(1);
  transition: transform .2s;
}

.progress__marker--exit {
  transform: scale(1);
  transform-origin: bottom left;
}

.progress__marker--exit-active {
  transform: scale(0);
  transition: transform .2s;
}

.player__track-switcher {
  margin-right: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.toggle {
  width: 2em;
  padding: 5px 0;
  -webkit-appearance: none;
  border: none;
  background-color: pink(300);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  + .toggle {
    margin-left: 1px;
  }
}

.toggle--selected {
  background-color: pink(500);
  cursor: default;
}
