.scraper {
  margin: 0 20px 0 auto;
}

.scraper__icon {
  cursor: pointer;
  fill: #fff;

  .scraper--working & {
    cursor: default;
    animation: spin 1s infinite linear;
  }
}

.scraper__message {
  display: inline-block;
  margin: -10px 10px -10px 0;
  padding: 10px 16px;
  vertical-align: middle;
  background-color: purple(300);
  border-radius: 2px;
}
