.sheet {
  position: relative;
  background-color: #f0f0f0;
}

.sheet__scroller {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  outline: none;
}

.sheet__loading-message {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -13px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;

  span {
    vertical-align: middle;
  }

  .sheet--empty & {
    display: none;
  }
}

.sheet__loading-icon {
  margin-right: 10px;
  animation: spin 1s infinite linear;
}

.sheet__page-container {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
}

.sheet__page {
  position: relative;
  height: 0;
  padding-bottom: percentage(1.41);
  background-color: #fff;
  @include mdc-elevation(3);
  opacity: 1;
  transition: opacity .2s;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  + .sheet__page {
    margin-top: 4px;
  }

  .sheet--loading & {
    opacity: 0;
  }
}
