.sheet {
  position: relative;
  overflow: auto;
  padding: 20px;
  background-color: #f0f0f0;
}

.sheet__page {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,.3);

  + .sheet__page {
    margin-top: 2px;
  }
}
