.sheet {
  position: relative;
  overflow: auto;
  padding: 20px;
  background-color: #f0f0f0;
}

.sheet__page {
  background-color: #fff;
  @include card-shadow(1);

  + .sheet__page {
    margin-top: 4px;
  }
}
