.sidebar {
  position: relative;
  width: 300px;
  border-right: 1px solid rgba(#000, .38);
}

.sidebar__search {
  position: relative;
}

.sidebar__search-field {
  width: 100%;
  height: 48px;
  padding: 10px 10px 10px 44px;
  -webkit-appearance: none;
  border: none;
  background-color: #757575;
  border-bottom: 1px solid #757575;
  transition: background-color .2s;

  &:focus {
    background-color: #fff; 

    &::-webkit-input-placeholder {
      color: rgba(#000, .38);
    }
  }

  &::-webkit-input-placeholder {
    color: rgba(#fff, .38);
  }
}

.sidebar__icon {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  fill: rgba(#fff, .38);

  .sidebar__search-field:focus ~ & {
    fill: rgba(#000, .38);
  }
}

.sidebar__search-icon {
  left: 10px;
}

.sidebar__close-icon {
  right: 10px;
  cursor: pointer;
}

.sidebar__menu {
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;

  .sidebar--collapsed & {
    display: none;
  }
}

.sidebar__menu-item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 10px;
  margin: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #EDE7F6;
  }
}

.sidebar__menu-item--selected {
  background-color: #7C4DFF;
  color: white;
  cursor: default;

  &:hover,
  &:focus {
    background-color: #7C4DFF;
    color: white;
  }
}
