.toolbar {
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: purple(500);
  color: #fff;
  fill: #fff;
}

.toolbar__voice-selector {
  width: 200px;
  margin-right: auto;
}

.toolbar__button {
  position: relative;
  margin: -4px 0 -4px 10px;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  fill: #fff;
  outline: none;

  .toolbar__panel + & {
    z-index: 11;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: all .2s;
  }

  &:hover {
    fill: purple(500);

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.toolbar__button-icon {
  position: relative;
  transition: fill .2s;
}

.toolbar__button--spinning {
  cursor: default;
  animation: spin 1s infinite linear;
}
