@import 'flex_utils',
        'forms',
        'sidebar',
        'sheet';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #fff;
  color: rgba(0,0,0,.87);
  font-family: sans-serif;
}

.app-container {
  height: 100%;
}
