@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

@import 'palette',
        'flex_utils',
        'utils',
        'elevation',
        'transitions',
        'icons',
        'forms',
        'modal',
        'notifications',
        'shortcuts',
        'toolbar',
        'sidebar',
        'sheet',
        'player';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  color: rgba(#000, .87);
  fill: rgba(#000, .87);
  font-family: Roboto Slab;
}

.app-container {
  height: 100%;
}

html:not(.u-darwin) .u-hide-scrollbars {
  ::-webkit-scrollbar {
    display: none;
  }
}
