@import 'palette',
        'flex_utils',
        'utils',
        'transitions',
        'icons',
        'forms',
        'modal',
        'toolbar',
        'settings',
        'scraper',
        'sidebar',
        'sheet',
        'player';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
}

body {
  background-color: #fff;
  color: rgba(#000, .87);
  fill: rgba(#000, .87);
  font-family: sans-serif;
}

.app-container {
  height: 100%;
}

html:not(.u-darwin) .u-hide-scrollbars {
  ::-webkit-scrollbar {
    display: none;
  }
}
